declare -A JGB_BUILD_CONFIG_HOST

JGB_BUILD_CONFIG_HOST[x86_64-aarch64]=aarch64-linux-gnu
# for hi3559
JGB_BUILD_CONFIG_HOST[x86_64-aarch64-himix100]=aarch64-himix100-linux
# for sd3403
JGB_BUILD_CONFIG_HOST[x86_64-aarch64-mix210]=aarch64-mix210-linux
# for hi3519
JGB_BUILD_CONFIG_HOST[x86_64-arm-himix200]=arm-himix200-linux

if [ "$JGB_BUILD_HOST_ARCH" == arm-himix200 ] ; then
  # 解决 gcc/nm/g++ 报错。
  export LC_ALL=C
fi
